body {
  background: #fff;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-area {
  width: 300px;
  height: 250px;
  background-image: url("../img/banner.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.ribbon {
  color: white;
  margin: 10px -20px;
  padding: 3px;
  position: relative;
  border-radius: 2px;
  background-color: #1e7fb6;
  box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, 0.2),
    0 4px 15px 2px rgba(0, 0, 0, 0.2), 0 4px 3px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 20px;
}

.ribbon > .ribbon {
  margin: 10px -25px;
}

.ribbon::before,
.ribbon::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  z-index: -1;
  border-color: #1e7fb6 transparent transparent transparent;
}

.ribbon::before {
  left: 0;
  border-right: none;
}

.ribbon::after {
  right: 0;
  border-left: none;
}

.text-area {
  color: #1e7fb6;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.image-area-1 {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.image-area-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.flip-clock-container {
  direction: ltr;
  font-family: Arial;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  --flip-bg-color: #ffcb00;
  --flip-text-color: #fff;
  --flip-dots-color: #ffcb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flip-clock-container * {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flip-clock-container *::before,
.flip-clock-container *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flip-clock-container [class|="flip-item"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flip-clock-container [class|="flip-item"]:first-child::before {
  content: none;
}

.flip-clock-container [class|="flip-item"] .flip-digit {
  width: 40px;
  height: 50px;
  position: relative;
  margin-right: 5px;
}

.flip-clock-container [class|="flip-item"] .flip-digit > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.flip-clock-container [class|="flip-item"] .flip-digit > span::after,
.flip-clock-container [class|="flip-item"] .flip-digit > span::before {
  content: attr(data-digit);
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: var(--flip-text-color);
  background-color: var(--flip-bg-color);
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-clock-container [class|="flip-item"] .flip-digit > span::before {
  top: 0;
  line-height: 55px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ffcb00;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.flip-clock-container [class|="flip-item"] .flip-digit > span::after {
  bottom: 0;
  line-height: 6px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #ffcb00;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-next {
  z-index: 0;
  -webkit-animation: afterZIndexAnim 0.9s linear forwards;
  animation: afterZIndexAnim 0.9s linear forwards;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-next::before {
  -webkit-animation: afterUpShadowAnim 0.9s linear forwards;
  animation: afterUpShadowAnim 0.9s linear forwards;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-next::after {
  -webkit-animation: afterFlipAnim 0.9s linear forwards,
    afterDownShadowAnim 0.9s linear forwards;
  animation: afterFlipAnim 0.9s linear forwards,
    afterDownShadowAnim 0.9s linear forwards;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-current {
  z-index: 1;
  -webkit-animation: currentZIndexAnim 0.9s linear forwards;
  animation: currentZIndexAnim 0.9s linear forwards;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-current::before {
  -webkit-animation: currentFlipAnim 0.9s linear forwards,
    currentUpShadowAnim 0.9s linear forwards;
  animation: currentFlipAnim 0.9s linear forwards,
    currentUpShadowAnim 0.9s linear forwards;
}

.flip-clock-container
  [class|="flip-item"]
  .flip-digit.flipping
  .flip-digit-current::after {
  -webkit-animation: currentDownShadowAnim 0.9s linear forwards;
  animation: currentDownShadowAnim 0.9s linear forwards;
}

@-webkit-keyframes afterZIndexAnim {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

@keyframes afterZIndexAnim {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

@-webkit-keyframes currentZIndexAnim {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 0;
  }
}

@keyframes currentZIndexAnim {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 0;
  }
}

@-webkit-keyframes afterFlipAnim {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@keyframes afterFlipAnim {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@-webkit-keyframes afterUpShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 -100px 20px -10px #ffcb00;
    box-shadow: inset 0 -100px 20px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
  }
}

@keyframes afterUpShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 -100px 20px -10px #ffcb00;
    box-shadow: inset 0 -100px 20px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes afterDownShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 100px 20px -10px #ffcb00;
    box-shadow: inset 0 100px 20px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
  }
}

@keyframes afterDownShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 100px 20px -10px #ffcb00;
    box-shadow: inset 0 100px 20px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes currentFlipAnim {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@keyframes currentFlipAnim {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes currentUpShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: inset 0 -50px 25px -10px #ffcb00;
    box-shadow: inset 0 -50px 25px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 -100px 25px -10px #ffcb00;
    box-shadow: inset 0 -100px 25px -10px #ffcb00;
  }
}

@keyframes currentUpShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: inset 0 -50px 25px -10px #ffcb00;
    box-shadow: inset 0 -50px 25px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 -100px 25px -10px #ffcb00;
    box-shadow: inset 0 -100px 25px -10px #ffcb00;
  }
}

@-webkit-keyframes currentDownShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: inset 0 50px 25px -10px #ffcb00;
    box-shadow: inset 0 50px 25px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 100px 25px -10px #ffcb00;
    box-shadow: inset 0 100px 25px -10px #ffcb00;
  }
}

@keyframes currentDownShadowAnim {
  0% {
    -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: inset 0 50px 25px -10px #ffcb00;
    box-shadow: inset 0 50px 25px -10px #ffcb00;
  }
  100% {
    -webkit-box-shadow: inset 0 100px 25px -10px #ffcb00;
    box-shadow: inset 0 100px 25px -10px #ffcb00;
  }
}
/*# sourceMappingURL=flip-clock.css.map */

.anime-text .word {
  display: inline-block;
  line-height: 1em;
}

.anime-text-1 .word {
  display: inline-block;
  line-height: 1em;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
